body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: #f00;
    font-weight: bold;
}

/* Bootstrap Overrides */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 20px 15px;
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

form-control:focus {
    border-color: #2196f3;
    box-shadow: none;


}

.btn {
    -ms-border-radius: 9px;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-menu {
    box-shadow: none;
}

/* Page-level styles */

.gigs {
    list-style: none;
}

.gigs li .date {
    background: #f00;
    color: #fff;
    text-align: center;
    width: 60px;
    -ms-border-radius:8px;
    border-radius:8px
}

.gigs li .date .month {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 6px
    }

    .gigs li .date .day {
        background: #ccc;
        color: #333;
        font-size: 20px;
        padding:6px 12px
    }

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

    .gigs > li .details {
        position: absolute;
        top: 0;
        left: 70px;
    }

.gigs > li .details .artist {
    font-weight: bold;
    display: block;
}

.gigs > li .details .genre {
    font-size: 15px;
}
